#epilogue {
    display: none;
    position: absolute;
    top: 418px;
    left: 570px;
    width: 60px;
    height: 60px;
    background-image: url('../images/unicum-loop.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: 120px;
    animation: unicum 1.5s ease 0s 1 normal forwards;
}

@keyframes unicum {
    0% { 
        background-position-y: 120px; 
    }
    100% { 
        background-position-y: 0px;
    }
}


