#bellboy, #reception, #elevator, #qr, #qrcontainer {
/* 	background-color: black; */
/* 	opacity: 0.5; */
}

#control {
/* 	display: none; */
}

.ui-absolute {
    position: absolute;
    display: block;
}

#main, #background, #lobbyimage {
    width: 1000px;
    height: 666px;
}

#main {
    position: relative;	
}

#background {
	background-color: black;
	position: absolute;
}

#bellboy {
    top: 200px;
    left: 190px;
    width: 50px;
    height: 100px;
}

#speechbubble {
    height: 200px;
    width: 480px;
    background-image: url(../images/speech-bubble-md.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 225px;
    top: 10px;
    display: none;
}

#speechbubblecontent {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-top: 33px;
    display: block;
    padding-left: 50px;
    padding-right: 70px;
}

#reception {
    top: 150px;
    left: 525px;
    width: 275px;
    height: 160px;
}

#elevator {
    left: 25px;
    top: 100px;
    width: 100px;
    height: 225px;
}

#qr {
    left: 590px;
    top: 235px;
    width: 55px;
    height: 40px;
}

#qrcontainer {
	width: 600px;
	height: 600px;
}

#firstpart, #secondpart {
	position: absolute;
	display: none;
}

#firstpart.ui-show, #secondpart.ui-show {
	display: inline-block;
}

#firstpart {
	left: 23px;
}

#secondpart {
	right: 23px;
}