#main {
    width: 1000px;
    height: 666px;
    position: relative;
    background-image: url("bath-background.jpg");
}

.lo_button {
    width: 50px;
    height: 50px;
    position: absolute;
}

.lo_on {
    background-color: yellow;
    opacity: 0.3
}

.lo_off {
    opacity: 0.9;
    filter: blur();
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.8) 50%, rgba(1, 1, 1, 0) 80%);
    -webkit-transform: scale(1.1);
}

#lo_0_0 {
    top: 45px;
    left: 448px;
    -webkit-clip-path: polygon(58% 14%, 98% 49%, 50% 80%, 8% 48%);
}

#lo_0_1 {
    top: 27px;
    left: 478px;
    -webkit-clip-path: polygon(55% 15%, 95% 52%, 40% 84%, 0% 49%);
}

#lo_0_2 {
    top: 12px;
    left: 504px;
    -webkit-clip-path: polygon(62% 10%, 100% 54%, 45% 81%, 5% 43%);
}

#lo_0_3 {
    top: 0px;
    left: 536px;
    -webkit-clip-path: polygon(65% 0, 100% 50%, 38% 77%, 0% 33%);
}

#lo_1_0 {
    top: 65px;
    left: 470px;
    -webkit-clip-path: polygon(56% 10%, 95% 44%, 47% 72%, 8% 41%);
}

#lo_1_1 {
    top: 50px;
    left: 496px;
    -webkit-clip-path: polygon(60% 8%, 97% 44%, 45% 73%, 6% 39%);
}

#lo_1_2 {
    top: 38px;
    left: 524px;
    -webkit-clip-path: polygon(61% 4%, 97% 42%, 44% 67%, 6% 31%);
}

#lo_1_3 {
    top: 24px;
    left: 555px;
    /* display: none; */
    -webkit-clip-path: polygon(64% 4%, 95% 45%, 37% 69%, 1% 31%);
}

#lo_2_0 {
    top: 83px;
    left: 490px;
    -webkit-clip-path: polygon(56% 9%, 89% 37%, 42% 62%, 8% 37%);
}

#lo_2_1 {
    top: 70px;
    left: 515px;
    -webkit-clip-path: polygon(60% 6%, 92% 37%, 41% 62%, 8% 34%);
}

#lo_2_2 {
    top: 55px;
    left: 543px;
    -webkit-clip-path: polygon(60% 10%, 89% 43%, 38% 66%, 7% 35%);
}

#lo_2_3 {
    top: 45px;
    left: 570px;
    -webkit-clip-path: polygon(66% 5%, 95% 43%, 38% 62%, 8% 29%);
}

#lo_3_0 {
    top: 98px;
    left: 505px;
    -webkit-clip-path: polygon(60% 8%, 89% 33%, 45% 54%, 13% 33%);
}

#lo_3_1 {
    top: 85px;
    left: 530px;
    -webkit-clip-path: polygon(63% 8%, 90% 35%, 40% 58%, 12% 33%);
}

#lo_3_2 {
    top: 73px;
    left: 557px;
    -webkit-clip-path: polygon(62% 8%, 90% 38%, 38% 58%, 11% 31%);
}

#lo_3_3 {
    top: 62px;
    left: 585px;
    /* display: none; */
    -webkit-clip-path: polygon(66% 10%, 89% 40%, 36% 59%, 8% 29%);
}
